# Sistema
.DS_Store

# Node
node_modules/

# Pastas de build
/dist/

# Arquivos de ambiente local
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diretórios de editor
.idea/
.vscode/

# Arquivos temporários e de IDE
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
